p {
  border-left-color: gray;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  gap: 0rem;
  }

st-emotion-cache-f4k0dr { 
  min-height: 0pt; 
  gap: 0rem; 
}

st-emotion-cache-ocqkz7 { 
  min-height: 0pt; 
  line-height: 1; 
  padding: 0rem; 
  margin-bottom: 0rem; 
  gap: 0rem; 
}

st-emotion-cache-zooq7g { 
  min-height: 0pt; 
  line-height: 1; 
  padding: 0rem; 
  margin-bottom: 0rem; 
  gap: 0rem; 
}

st-emotion-cache-jp0p2n  { 
  gap: 0rem; 
}

st-emotion-cache-eqffof { 
  margin-bottom: 0rem; 
}